{% extends "base_new.html" %}
{% block content %}
<article>
<div class="article_title">
  <h1> Posts on {{ category }} </h1>
  
  </div>
</article>

{% for article in articles_page.object_list %}


<article>
  <div class="article_title">
    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
  </div>
  <div class="article_text">
    {{ article.summary }}
  </div>
</article>
{% if not loop.last %}
<hr />
{% endif %}
{% endfor %}
{% endblock %}

{% block footer %}
<footer>
  {% include "modules/pagination.html" %}
</footer>
{% endblock %}
{% block title %}&ndash; Category: {{ category }}{% endblock %}


{% block head %}
{% if CATEGORY_FEED_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category Atom" />
{% endif %}
{% if CATEGORY_FEED_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category RSS" />
{% endif %}
{% endblock %}

{% block header %}
&gt; Category: {{ category }}
{% if CATEGORY_FEED_ATOM %}
&brvbar; <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}">Atom</a>
{% endif %}
{% if CATEGORY_FEED_RSS %}
&brvbar; <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}">RSS</a>
{% endif %}
{% endblock %}
