{% extends "base_new.html" %}
{% block content %}
<article>
<div class="article_title">
<h1> About</h1>
<p> 
  Hello, My name is Amit - I am interested in programming, software tools, systems and infrastructure.
  A lot of what I explore in software makes it to my blog posts, <a href="http://echorand.me/pages/articles.html">articles</a>, 
  <a href="http://echorand.me/pages/books.html">books<a/>, <a href="http://echorand.me/pages/talks.html">talks</a> 
  and <a href="https://github.com/amitsaha/">GitHub</a> repositories.
  
  You can contact me via <a href="mailto:amitsaha.in@gmail.com">email<a/>, on <a href="https://twitter.com/echorand">Twitter</a>
  and on <a href="https://www.linkedin.com/in/echorand">LinkedIn</a>.
</p>
 

</div>  
  
<div class="article_title">
  <h1> Blog posts</h1>
  
  <p> My post recent posts are below. So far, I have written about 
    <a href="https://echorand.me/category/C.html">C</a>, <a href="https://echorand.me/category/fedora.html">Fedora</a>,
     <a href="https://echorand.me/category/golang.html">Golang</a>, <a href="https://echorand.me/category/infrastructure.html"> Infrastructure</a>, <a href="https://echorand.me/category/python.html">Python</a> and <a href="https://echorand.me/category/software.html">various others</a>.</p>
    
  </div>


{% for article in articles_page.object_list %}

  <div class="article_title">
    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
  </div>
  <div class="article_text">
    {{ article.summary }}
  </div>
</article>
{% if not loop.last %}
<hr />
{% endif %}
{% endfor %}
{% endblock %}

{% block footer %}
<footer>
  {% include "modules/pagination.html" %}
</footer>
{% endblock %}
